h1#titolInserir {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
}

h2#titolInserir {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
}

p#paragrafInserir{
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
}

.imatgeXicoteta{
    width: 20px;
}

.imatgeInserir{
    width: 400px;
    margin: 10px;
}

body{
    background-color:#DDD;
}

div#paragrafInserir{
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
}