h1#titolEquip {
    width: 50%;
    color: green;
    border: solid green 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:white;
}

.paragrafEquip{
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#f2e7c3;
}

.imatgeEquip{
    width: 400px;
    margin: 10px;
}
    
body{
    background-color:#EEE;
}

.imatgeXicoteta{
    width: 20px;
}

#titol-imatge-equips{
    width: 50%;
    color: red;
    margin: 0 auto;
}

.llistatEquip{
    width: 60%;
    border: solid black 1px;
    margin: 10px auto;
    text-align:center;
    padding:10px;
    background-color:#dbcea4;
    list-style: none;
    line-height: 2;
}

.llistatMiembros{
    width: 60%;
    margin: 5px auto;
    text-align:center;
    padding:10px;
    background-color:#dbcea4;
    list-style: none;
}