<ul>
<li><strong>{{ equip.nom }}</strong></li>
<li><strong>Cicle</strong>: {{ equip.cicle }}</li>
<li><strong>Curs</strong>: {{ equip.curs }}</li>
<li><strong>Membres</strong>: {{ equip.membres[0]}}</li>
</ul>