{% block body%}
<body>

<h1 id="titolEquip"> Projecte Symfony Equips 2n DAW </h1>

<p> Equip 1 amb nom Simarrets inserit correctament<br/></p>

<div class="paragrafEquip">

{% if equip %}

<img class="imatgeEquip" src=" {{ asset('BizLand/assets/img/equipPerDefecte.png') }}"/>



{% endif %}

</div>

<p class="paragrafEquip">
<img class="imatgeXicoteta" src=" {{ asset('BizLand/assets/img/casiua.jpg') }}"/>
<a href="{{path('inici')}}">Tornar a l'inici</a>

</p>

</body>
{% endblock %}